.login {
    display: flex;
    flex-direction: row;
    margin-left: 20px;

    &--image {
        display: flex;
        flex-direction: column;

        &-logo {
            width: 173.76px;
            height: 36px;
            margin-left: 67px;
            margin-top: 90px;
        }
        &-pablo {
            width: 600px;
            height: 337.57px;
            margin-left: 67px;
            margin-top: 95px;
        }
    }
}

.welcome {
    font-family: 'Avenir Next', 'Metropolis', sans-serif;
    // position: absolute;
    // left: 736px;
    // top: -5px;
    margin: 8rem 0 0 10rem;

    h1 {
        width: 183px;
        height: 55px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: -0.04em;
        color: #213F7D;
        margin-bottom: 5px;
    }
    p {
        height: 28px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;    
        color: #545F7D;
        margin: 0 0 40px 0;
    }
    input {
        width: 447px;
        height: 50px;
        border-radius: 8px;
        border: 2px solid #545F7D26;
        margin-bottom: 25px;
        padding: 0 10px;
    }
    &__forgot {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-align: right;
        text-decoration: none;
        color: #39CDCC;
    }
    button {
        cursor: pointer;
        margin-top: 35px;
        background-color: #39CDCC;
        height: 48px;
        width: 474px;
        border: none;
        border-radius: 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #FFFFFF; 
    }
    
}