.userss {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    font-family: 'Work Sans', sans-serif;
    h1 {
        margin-top: 3.5rem;
        margin-bottom: 2.5rem;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0px;
        color: #213F7D;
    }
    &-index {
        display: flex;
        font-style: normal;
        color: #545F7D;
        
        div {
            background-color: white;
            border-width: 0px, 0px, 0px, 0px;
            border-style: solid;
            border-color: #213F7D0F;
            width: 220px;
            height: 140px;
            margin: 0 20px 10px 0;
            padding: 20px 0 0 20px;
            p {
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
            }
            h3 {
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                margin: 0;
            }
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
    table {
        margin-top: 30px;
        text-align: left;
        background-color: #fff;
        padding: 20px 20px 0 20px;
        width: 1037px;
        th {
            padding-bottom: 13.8px;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            color: #545F7D;
            align-items: center;
            img {
                padding-left: 12px;
                width: 13px;
                height: 9px;
            }
        }
        td {
            font-weight: 400;
            font-size: 12px;
            line-height: 1px;
            color: #545F7D;
            padding: 0.2px 0;
            border-bottom: 1px solid #213F7D0F;
            P {
                font-weight: 400;
                font-size: 14px;
                line-height: 0px;
                color: #545F7D;
                background: #213F7D0F;
                border-radius: 100px;
                padding: 10px 10px 10px 10px;
                text-align: center;
            }
            img {
                position: relative;
                margin-left: 20px;
                cursor: pointer;
                div {
                    position: absolute;
                }
            }
        }
    }
    .index {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1038px;
        h1, h2, div {
            padding: 0;
            margin: 23px 5px 0 0 ;
            line-height: 0;
            font-weight: 400;
            font-size: 14px;
            color: #545F7D;
        }
        h1 {
            margin-right: 15px;
        }
        h2 {
            margin-right: auto;
            span {
                cursor: pointer;
                background: rgba(33, 63, 125, 0.1);
                border-radius: 4px;
                padding: 8px 10px;
                font-weight: 600;
                line-height: 2px;
                margin-right: 12px;
                img {
                    padding-left: 20px;
                }
            }
            
        }
        img {
            cursor: pointer;
        }
        div {
            display: flex;
            opacity: 0.6;
            p {
                padding: 0 15px;
                font-weight: 400;
                font-size: 16px;
                color: #545F7D;
                letter-spacing: 3.5px;        
            }
            img {
                margin-top: 3.5px;
            }
        }
    }
}