.userss {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    font-family: 'Work Sans', sans-serif;
    h1 {
        margin-top: 3.5rem;
        margin-bottom: 2.5rem;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0px;
        color: #213F7D;
    }
    &-index {
        display: flex;
        font-style: normal;
        color: #545F7D;
        
        div {
            background-color: white;
            border-width: 0px, 0px, 0px, 0px;
            border-style: solid;
            border-color: #213F7D0F;
            width: 220px;
            height: 140px;
            margin: 0 20px 10px 0;
            padding: 20px 0 0 20px;
            p {
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
            }
            h3 {
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                margin: 0;
            }
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
    table {
        text-align: left;
        background-color: #fff;
        padding: 20px 0 0 20px;
        width: 1037px;
        th {
            padding-bottom: 13.8px;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            color: #545F7D;
            align-items: center;
            img {
                padding-left: 12px;
                width: 16px;
                height: 11px;
            }
        }
        td {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #545F7D;
            padding: 17.2px 0;
            border-bottom: 1px solid #213F7D0F;
        }
    }
    .index {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}